<ul>
    <li><a href="/user" class=""><h6>Kullanıcı Bilgileri</h6></a></li><hr>
    <li><a href="/user/addcontent" class=""><h6>İçerik Oluştur</h6></a></li>
    <li><a href="/user/contents" class=""><h6>İçeriklerim</h6></a></li><hr>
    <li><a href="/user/addpost" class=""><h6>Yeni Makale Yaz</h6></a></li>
    <li><a href="/user/posts" class=""><h6>Makalelerim</h6></a></li>
    <li><a href="/user/comments" class=""><h6>Yorumlarım</h6></a></li><hr>
    <li><a href="/user/update" class=""><h6>Profilimi Güncelle</h6></a></li>
    <li><a href="/user/password" class=""><h6>Şifreyi Değiştir</h6></a></li>
    <li><a href="/logout" class=""><h6>Çıkış</h6></a></li>
</ul>

